html, body {
  position:         relative;
  width:            100%;
  margin:           0px;
  background-color: #F4F7F9 !important;
  font-family:      'Roboto', sans-serif !important;
}

.top_margin_content {
  margin-top: 13.5vh !important;
}

.footer {
  height:      25vh;
  font-family: 'Roboto', sans-serif;
  top:         20%;
}

.ui.container {
  min-width: 78%;
}
