html, body {
  position: relative;
  width: 100%;
  margin: 0px;
  background-color: #fafafa !important;
  font-family: Roboto;
}

.content-top-margin {
  margin-top: 25vh !important;
}

.footer {
  height: 25vh;
  font-family: 'Roboto', sans-serif;
  top: 20%;
}
