html, body {
  position: relative;
  width: 100%;
  margin: 0px;
  background-color: #fafafa !important;
  font-family: 'Roboto', sans-serif !important;
}

.content-top-margin {
  margin-top: 18vh !important;
}

.footer {
  height: 25vh;
  font-family: 'Roboto', sans-serif;
  top: 20%;
}

.ui.container {
  min-width: 78%;
}
