<div class="ui container top_margin_content">
  <div
    *ngIf="getUserRole() === User.LegalOwnerAdmin && transportOrder?.status === TransportOrderStatus.Open && transportOrder?.status !== TransportOrderStatus.Cancelled; else cancelled"
    class="ui primary basic button right floated" (click)="openModal(transportOrder)">Cancel
  </div>
  <ng-template #cancelled>
    <div *ngIf="transportOrder?.status === TransportOrderStatus.Cancelled" class="ui disabled button red right floated">
      CANCELLED
    </div>
  </ng-template>
  <div class="row">
    <img class="back_button"/>
    <div routerLink="/overview" class="titles">BACK</div>
  </div>
  <div class="fourteen wide column first_column"></div>
  <app-transportorder-goods [transportOrder]="transportOrder" [ecmrs]="ecmrs"></app-transportorder-goods>
  <div class="ten wide column"></div>
  <app-cancel-modal></app-cancel-modal>
</div>
