<br>
<div class="ui mini steps progressbar">
  <div class="step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">CREATED</div>
      <div class="description">Date: 03 august 2017</div>
    </div>
  </div>
  <div class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">LOAD</div>
      <div class="description">to be concluded</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">DELIVERED</div>
      <div class="description">Date: 06 august 2017</div>
    </div>
  </div>
</div>
