.designMenu {
  position: relative;
  height: 70px;
}

.logo {
  position: absolute;
  width: 10%;
  top: 50%;
  left: 11%;
  transform: translateY(-50%);
}

.no-border:before {
  width: 0px !important;
}

a{
  color: #212121;
}

.userDisplay{
  position: relative;
  width: 400px;
  display: block;
  //margin-top: 20%;
}

.logoutIcon{
  position: absolute;
  display: inline-block;
  margin-left: 45%;
  padding-left: 20px;
  margin-top: 4.4%;
  //background-image: url("../../../assets/icons/iconlogout.svg");

}

.userImage{
  position: absolute;
  margin-top: 3.2%;
  padding-right: 20px;
  margin-left: 35%;
}

.welcomeMsg{
  position: absolute;
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
}
