.designMenu {
  position: relative;
  height: 70px;
  .logo {
    position: absolute;
    width: 105px;
    height: 16.5px;
    top: 50%;
    left: 11%;
    transform: translateY(-50%);
    content: url("../../../assets/img/Koopman.jpg");
  }
  .logoutIcon {
    cursor: pointer;
    content: url("../../../assets/icons/iconlogout.svg");
    &:hover {
      content: url("../../../assets/icons/icon-logout-off.svg");
    }
  }
  .right.menu {
    ::before {
      width: 0px !important;
    }
    margin-right: 12%;
    .item:first-child {
      padding: 0;
    }
    .item:last-child {
      padding: 0;
    }
  }
}

@media (max-width: 640px) {
  #welcomeMsg {
    display: none;
  }
}
