.grey-bkg {
  background-color: #f1f2f2 ;
}

.blue-bar {
  background-color: #1d2c3a;
  height: 150px;
  width: 100%;
  margin: 3.5% 0;
}

.fill-label {
  margin: 0px;
  padding: 0px;
}

.login-label {
  background-color: steelblue;
  color: white;
  margin: 15px 0;
  display: block;
}

.login-box {
  background-color: white;
  padding: 50px 80px !important;
}

.label {
  font-weight: bold;
  font-size: 13px;
  float: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

.logo {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  max-height: 100px;
  padding: 5px;
  width: 100%;
  object-fit: scale-down;
}

.icon-box {
  padding: 0px !important;
}

.width-scale{
  width: 100%
}