<div class="ui container">
    <div class="ui middle aligned login_box top_margin_login">
        <p class="text_label_login">Login</p>
        <div class="label">
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="ui left icon input width-scale">
            <input type="text" placeholder="Username" [(ngModel)]="username">
            <img class="username_icon" src="../../../assets/icons/username_icon.svg"/>
        </div>
        <br>
        <br>
        <br>
        <div class="ui left icon input width-scale">
            <input type="password" placeholder="Password" [(ngModel)]="password" (keypress)="cleanError()">
            <img class="password_icon" src="../../../assets/icons/password_icon.svg"/>
        </div>
        <br>
        <button class="circular ui button login_label" (click)="login(username, password)">Login</button>
        <div *ngIf="loading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div *ngIf="error" class="ui negative message">
            <div class="header">
                Oops! Something went wrong
            </div>
            <p>Username or password are not valid</p>
        </div>
    </div>
</div>
