.titles {
  position:         absolute;
  color:            #3a3670;
  margin-left:      0.9%;
  cursor:           pointer;
  display:          inline-block;
  border:           none;
  background-color: transparent;
  font-size:        1vw;
}

.titles:active {
  outline: none;
  border:  none;
}

.back_button {
  content: url("../../../assets/icons/back_button.svg");
}
