.ui {
  &.modal {
    margin: auto;
    width:  35%;
    height: 50%;
    left:   0;
    right:  0;
    top:    50%;
    bottom: 0;
    .header {
      border-bottom: none;
    }
    .submit_button {
      background-color: #3A386E;
      color:            white;
      display:          block;
      float:            right;
      font-weight:      normal;
    }
  }
  .field {
    margin-top: 5%;
    resize:     none;
  }
  span {
    display: block;
  }
}
