<div id="modal-container" class="ui container">
  <div id="signoff-modal" class="ui modal">
    <i class="close icon" (click)="close()"></i>
    <div class="header">SIGN OFF</div>
    <div class="content">
      <p>You are about to sign off the eCMR</p>
      <form class="ui form">
        <div class="field">
          <label>General Remark</label>
          <textarea *ngIf="ecmr" name="generalRemarks" [(ngModel)]="ecmr.carrierComments"
                    placeholder="Enter your general remarks here..." maxlength="136"></textarea>
        </div>
        <button id="submitButton" class="circular ui float right button submitButton" (click)="onSubmit()"
                type="submit">Submit
        </button>
      </form>
    </div>
  </div>
</div>
