<div id="modal-container" class="ui container">
  <div id="signoff-modal" class="ui modal">
    <i class="close icon" (click)="close()"></i>
    <div class="header">SIGN OFF</div>
    <div class="content">
      <p>You are about to sign off the eCMR. Please check your remarks below:</p>
      <form class="ui form">
        <div *ngFor="let good of ecmr?.goods">
          <span><b>VIN:</b> {{ good.vehicle.vin }}</span>
          <span><b>Remark:</b> {{good.carrierLoadingRemark.comments}}</span>
        </div>
        <div class="field">
          <label>General Remark</label>
          <textarea name="generalRemarks" [(ngModel)]="ecmr.carrierComments"
                    placeholder="Enter your general remarks here..." maxlength="136"></textarea>
        </div>
        <button class="circular ui float right button submitButton" (click)="onSubmit()" type="submit">Submit</button>
        <!--routerLink="/overview"-->
      </form>
      <!--todo: add transact function in dummy.-->
    </div>
  </div>
</div>
