.spacing_table {
  border-spacing: 0 8px;
  th {
    text-align:    left;
    border-bottom: none;
  }
  th:first-child {
    width: 20px;
  }
  td {
    border-width: 3px 0;
    width:        65%;
    color:        black;
    border-top:   none;
  }
  td:first-child {
    width: 20px;
  }
  thead {
    display:      table;
    table-layout: fixed;
    width:        100%;
    height:       5vw;
    border:       1vw;
    color:        #32649e;
    th {
      color: #2f62a0;
    }
  }
  tbody {
    display:      table;
    table-layout: fixed;
    width:        100%;
    tr {
      box-shadow:       0 2px 4px #e3e3e3;
      border-radius:    1.0em;
      background-color: #FFFFFF;
      height:           60px;

      td {
        text-transform: capitalize;
        color:          #2f313f;
      }
      td:first-child {
        border-left-width: 3px;
        border-radius:     5px 0 0 5px;
      }
      td:last-child {
        border-right-width: 3px;
        border-radius:      0 5px 5px 0;
      }
      .center_content {
        margin-left: 50%;
        transform:   translateX(-50%);
      }
      .centered_content {
        margin-left: 30%;
        transform:   translateX(-50%);
      }
      .responsive_image {
        .comment_icon {
          content: url("../../../assets/icons/comment_icon.svg");
        }
        .exclamation_mark_icon {
          content: url("../../../assets/icons/exlamation_mark.svg");
        }
        img {
          width:  1.2vw;
          height: 1.2vw;
        }
      }
      .open-status {
        background-color: rgba(41, 135, 205, 0.2);
        color:            #2987cd;
        border-radius:    4px;
        padding:          6px;
        margin-left:      -10%;
      }
      .awaiting-status {
        width:            120px;
        height:           28px;
        border-radius:    4px;
        background-color: rgba(28, 181, 172, 0.2);
        padding:          6px;
        color:            #1cb5ac;
        word-wrap:        break-word;
        margin-left:      -30%;
      }
      .transit-status {
        background-color: rgba(124, 93, 192, 0.2);
        color:            #7c5dc0;
        border-radius:    4px;
        padding:          6px;
        margin-left:      -10%;
      }
      .completed-status {
        background-color: rgba(38, 161, 167, 0.2);
        color:            #26a1a7;
        border-radius:    4px;
        padding:          6px;
        margin-left:      -10%;
      }
      .confirmed-status {
        background-color: rgba(45, 184, 75, 0.2);
        color:            #2db84b;
        border-radius:    4px;
        padding:          6px;
        margin-left:      -10%;
      }
      .view_more {
        width:         120%;
        height:        120%;
        content: url("../../../assets/icons/view_more_button.svg");
        padding-right: 10%;
        margin-left:   -15%;
      }
      .view_more:hover {
        content: url("../../../assets/icons/view_more_button_hover.svg");
        cursor:  pointer;
      }
      .view_more:active {
        outline: none;
        border:  none;
      }
      .view_more_order {
        width:         100%;
        height:        100%;
        content:       url("../../../assets/icons/view_more_button.svg");
        padding-right: 10%;
        margin-left:   -15%;
      }
      .view_more_order:hover {
        content: url("../../../assets/icons/view_more_button_hover.svg");
        cursor:  pointer;
      }
      .view_more_order:active {
        outline: none;
        border:  none;
      }
    }
  }
  .table_header {
    font-size:      1vw;
    line-height:    1.2vw;
    vertical-align: bottom;
    text-align:     left;
  }
  .table_row {
    font-size:   0.9vw;
    line-height: 1.0vw;
    white-space: nowrap;
  }
  .header_styling {
    visibility: hidden;
  }
}

.table_title {
  color:         #32649e;
  font-size:     1.6vw;
  margin-bottom: 3%;
  .close_results {
    float:      right;
    content: url("../../../assets/icons/close_results.svg");
    cursor:     pointer;
    margin-top: 2%;
  }
}

//Design ui tables

.ui {
  .secondary.pointing.menu {
    color:     #dededf;
    font-size: 1vw;
    .active.item {
      background-color: transparent;
      box-shadow:       none;
      border-color:     #3a3670;
      font-weight:      bold;
      color:            #3a3670;
    }
    .item {
      background-color: transparent;
      box-shadow:       none;
      font-weight:      bold;
      color:            #dededf;
    }
    .results_top {
      color: black;
    }
  }
  .table:last-child {
    background-color: transparent;
    border:           0;
  }
  .grid > * {
    padding-left:  0rem;
    padding-right: 0rem;
  }
  .tab.active {
    margin-left: 0.1%;
    width:       100%;
  }
  .no_results {
    margin-left: 50%;
    transform:   translateX(-50%);
    content: url("../../../assets/img/no_results_image.svg");
  }
  .no_results_text {
    text-align: center;
    margin-top: 3%;
    font-size:  1.3em;
  }
  .show_results {
    font-size: 0.8vw;
  }
}
