.spacing-table {
  border-spacing: 0 8px; /* this is the ultimate fix */
  th {
    text-align: left;
    border-bottom: none;
  }
  th:first-child {
    width: 20px;
  }
  td {
    border-width: 3px 0;
    width: 65%;
    color: black;
    border-top: none;
  }
  td:first-child {
    width: 20px;
  }
  thead {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 5vw;
    border: 1vw;
    color: #32649e;
    th {
      color: #2f62a0;
    }
  }
  tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
    tr {
      box-shadow: 0 2px 4px #e3e3e3;
      border-top-left-radius: 1.0em;
      border-top-right-radius: 1.0em;
      border-bottom-left-radius: 1.0em;
      border-bottom-right-radius: 1.0em;
      background-color: #FFFFFF;
      height: 60px;

      td {
        text-transform: capitalize;
        color: #2f313f;
      }
      td:first-child {
        border-left-width: 3px;
        border-radius: 5px 0 0 5px;
      }
      td:last-child {
        border-right-width: 3px;
        border-radius: 0 5px 5px 0;
      }
      .centerContent {
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .centerContent2 {
        margin-left: 30%;
        transform: translateX(-50%);
      }
      .respImg {
        .commentIcon {
          content: url("../../../assets/icons/icon-comment.svg");
        }
        .exclIcon {
          content: url("../../../assets/icons/exlamation.svg");
        }
        img {
          width: 1.2vw;
          height: 1.2vw;
        }
      }
      .open-status {
        background-color: rgba(41, 135, 205, 0.2);
        color: #2987cd;
        border-radius: 4px;
        padding: 6px;
      }
      .awaiting-status {
        width: 120px;
        height: 28px;
        border-radius: 4px;
        background-color: rgba(28, 181, 172, 0.2);
        padding: 6px;
        color: #1cb5ac;
      }
      .transit-status {
        background-color: rgba(41, 135, 205, 0.2);
        color: #2987cd;
        border-radius: 4px;
        padding: 6px;
      }
      .completed-status {
        background-color: rgba(45, 184, 75, 0.2);
        color: #2db84b;
        border-radius: 4px;
        padding: 6px;
      }
      .confirmed-status {
        background-color: rgba(45, 184, 75, 0.2);
        color: #2db84b;
        border-radius: 4px;
        padding: 6px;
      }
      .viewMore {
        width: 120%;
        height: 120%;
        content: url("../../../assets/icons/button-view-more.svg");
        padding-right: 10%;
        margin-left: -15%;
      }
      .viewMore:hover {
        content: url("../../../assets/icons/button-view-more-hover.svg");
        cursor: pointer;
      }
    }
  }
  .table-header {
    font-size: 1vw;
    line-height: 1.2vw;
    vertical-align: top;
    text-align: left;
  }
  .table-row {
    font-size: 0.9vw;
    line-height: 1.0vw;
    white-space: nowrap;
  }
  .headerDesign {
    visibility: hidden;
  }
}

.table-title {
  color: #32649e;
  font-size: 1.6vw;
  margin-bottom: 5%;
  .closeResults {
    float: right;
    content: url("../../../assets/icons/close.svg");
    cursor: pointer;
  }
}

//Design ui tables

.ui {
  .secondary.pointing.menu {
    color: #dededf;
    font-size: 1vw;
    .active.item {
      background-color: transparent;
      box-shadow: none;
      border-color: #3a3670;
      font-weight: bold;
      color: #3a3670;
    }
    .item {
      background-color: transparent;
      box-shadow: none;
      font-weight: bold;
      color: #dededf;
    }
  }
  .table:last-child {
    background-color: transparent;
    border: 0;
  }
  .grid > * {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .tab.active {
    margin-left: 0.1%;
    width: 100%;
  }
  .noResults {
    margin-left: 25%;
    content: url("../../../assets/img/no-results.svg");
  }
  .showResults {
    font-size: 0.8vw;
  }
}
