<div class="ui container">
    <div class="ui sixteen column grid">
        <div class="row">
            <div class="twelve wide column">
                <div class="table-title">
                    ECMR Overview
                </div>
            </div>
        </div>
        <!--<i class="close icon"></i>-->
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="first" (click)="setCurrentView('open')"
                       [ngClass]="{'active' : currentView === 'open' ? true : false}">Open</a>
                    <a class="item" data-tab="second" (click)="setCurrentView('progress')"
                       [ngClass]="{'active' : currentView === 'progress' ? true : false}">IN PROGRESS</a>
                    <a class="item" data-tab="third" (click)="setCurrentView('completed')"
                       [ngClass]="{'active' : currentView === 'completed' ? true : false}">COMPLETED</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first">
                    <table class="ui celled table">
                        <thead class="table-header">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Embarkment</th>
                            <th>Destination</th>
                            <th>Number of vehicles</th>
                            <th>Carrier</th>
                            <th>Recipient</th>
                            <th>Remark</th>
                            <th>Damage Remark</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ecmr of ecmrFilteredList">
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="example">
                                    <label></label>
                                </div>
                            </td>
                            <td>{{ecmr.loadingAddress.date}}</td>
                            <td>{{ecmr.loadingAddress.address.city}}</td>
                            <td>{{ecmr.deliveryAddress.address.city}}</td>
                            <td>2 vehicles</td>
                            <td></td>
                            <td>{{ecmr.deliveryAddress.address.name}}</td>
                            <td><i class="book icon"></i></td>
                            <td>{{ecmr.carrierComments}}</td>
                            <td>{{ecmr.status}}</td>
                            <td><a routerLink="/ecmrs">View More</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
