@import url("/styles.scss");

.table-title{
  color: #32649e;
  font-size: 2.0vw;
}

.table-header {
  font-size: 1vw;
  line-height: 1.3vw;
}

tr.rowStyle>th{
  height: 5vw;
  border: 1vw;
  color: #32649e;
}

th, td{
  height: 5vw;
}

th{
  text-align: left;
}

td{
  padding: 10px 0;
}

table{
  border-collapse: separate;
  border-spacing: 10px 0;
}

.alignCenter{
  text-align: center;
}

.borderView{
  border: 1px solid #32649e;
  border-radius: 25% 25% 25% 25%;
  padding: 10px;
}
