<div class="ui container">
  <div class="row content-top-margin">
    <div class="table-title">E-CMR Overview</div>
  </div>
  <div class="row">
    <div class="ui pointing secondary menu">
      <div *ngIf="(userRole() === 'CompoundAdmin')">
        <a class="item" data-tab="first" (click)="setCurrentView('OPEN')"
           [ngClass]="{'active' : currentView === 'OPEN' ? true : false}">OPEN</a></div>
      <a class="item" data-tab="second" (click)="setCurrentView('IN_PROGRESS')"
         *ngIf="userRole() === 'CompoundAdmin' || userRole() === 'CarrierMember' || userRole() === 'RecipientMember'"
         [ngClass]="{'active' : currentView === 'IN_PROGRESS' ? true : false}">IN PROGRESS</a>
      <a class="item" data-tab="third" (click)="setCurrentView('COMPLETED')"
         *ngIf="userRole() === 'CompoundAdmin' || userRole() === 'LegalOwnerAdmin' || userRole() === 'CarrierMember' || userRole() === 'RecipientMember'"
         [ngClass]="{'active' : currentView === 'COMPLETED' ? true : false}">COMPLETED</a>
    </div>
    <div class="ui active tab grid" data-tab="first">
      <div class="row">
        <table class="ui unstackable table spacing-table">
          <thead class="table-header">
          <th></th>
          <th>Date</th>
          <th>CMR Nr.</th>
          <th>Embarkment</th>
          <th>Destination</th>
          <th>Number of vehicles</th>
          <th>Carrier</th>
          <th>Recipient</th>
          <th>Remark</th>
          <th>Damage Remark</th>
          <th>Status</th>
          <th></th>
          </thead>
          <tbody>
          <tr *ngFor="let ecmr of ecmrsFiltered" class="table-row">
            <td></td>
            <td>{{ecmr.creation.date | date:"dd-MM-yyyy"}}</td>
            <td>{{ecmr.ecmrID}}</td>
            <td>{{ecmr.loading.address.city}}</td>
            <td>{{ecmr.delivery.address.city}}</td>
            <td>
              <div class="centerContent">{{ecmr.goods.length}}</div>
            </td>
            <td>{{ecmr.carrier.split('#')[1] }}</td>
            <td>{{ecmr.recipient.split('#')[1].split('@')[0]}}</td>
            <td class="respImg"><img class="centerContent2 commentIcon" *ngIf="ecmr.carrierComments != '' || null"/>
            </td>
            <td class="respImg"><img class="centerContent2 exclIcon" *ngIf="ecmr.carrierComments != '' || null"/></td>
            <td><span [ngClass]="{'open-status' : ecmr.status === 'CREATED',
                        'awaiting-status' : ecmr.status === 'LOADED',
                        'transit-status' : ecmr.status === 'IN_TRANSIT',
                        'completed-status': ecmr.status === 'DELIVERED',
                        'confirmed-status': ecmr.status === 'CONFIRMED_DELIVERED'}">

              {{ecmr.status === 'CREATED' ? 'Open CMR' :
                ecmr.status === 'LOADED' ? 'Loaded' :
                ecmr.status === 'IN_TRANSIT' ? 'In Transit' :
                ecmr.status === 'DELIVERED' ? 'Delivered' :
                ecmr.status === 'CONFIRMED_DELIVERED' ? 'Confirmed' : ecmr.status}}
            </span></td>
            <td>
              <img class="viewMore" routerLink="/ecmr/{{ecmr.ecmrID}}"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
