<div class="row titles">LINE ITEMS</div>
<div class="row">
  <form>
    <table class="ui padded unstackable structured table">
      <thead>
      <tr>
        <th>VIN</th>
        <th>Description</th>
        <th>Weight</th>
        <th>ODO Meter</th>
        <th>License Plate</th>
        <th>Remarks</th>
        <th>Damage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let good of ecmr?.goods; let i = index">
        <td>{{good?.vehicle.vin}}</td>
        <td>{{good?.description}}</td>
        <td>{{good?.weight}} kg</td>
        <td>{{good?.vehicle.odoMeterReading}}</td>
        <td><b>{{good?.vehicle.plateNumber}}</b></td>
        <td>
          <div class="ui input">
            <div *ngIf="getUserRole() === User.CompoundAdmin && ecmr?.status === EcmrStatus.CREATED">
              <input name="remark-{{getUserRole()}}-{{i}}" placeholder="Add remark..."
                     [(ngModel)]="good?.compoundRemark.comments">
            </div>
            <div
                    *ngIf="getUserRole() === User.CarrierMember && ecmr?.status === EcmrStatus.LOADED; else showCompoundRemark">
              <input name="remark-{{getUserRole()}}-{{i}}" placeholder="Add remark..."
                     [(ngModel)]="good?.carrierLoadingRemark.comments">
            </div>
            <ng-template #showCompoundRemark>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.LegalOwnerAdmin && selectedColumns[1] === true && selectColumn() !== 1">
                <ol>
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                        <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                  </li>
                </ol>
              </div>
            </ng-template>
            <div
                    *ngIf="getUserRole() === User.CarrierMember && ecmr?.status === EcmrStatus.IN_TRANSIT; else showCarrierLoadingRemark">
              <input name="remark-{{getUserRole()}}-{{i}}" placeholder="Add remark..."
                     [(ngModel)]="good?.carrierDeliveryRemark.comments">
            </div>
            <ng-template #showCarrierLoadingRemark>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.LegalOwnerAdmin && selectedColumns[2] === true && selectColumn() !== 2">
                <ol>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                        <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                  </li>
                </ol>
              </div>
            </ng-template>
            <div
                    *ngIf="getUserRole() === User.RecipientMember && ecmr?.status === EcmrStatus.DELIVERED && selectedColumns[3] === true; else showCarrierDeliveryRemark">
              <input name="remark-{{getUserRole()}}-{{i}}" placeholder="Add remark..."
                     [(ngModel)]="good?.recipientRemark.comments">
            </div>
            <ng-template #showCarrierDeliveryRemark>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.RecipientMember && getUserRole() !== User.LegalOwnerAdmin && selectedColumns[3] === true && selectColumn() !== 3">
                <ol>
                    <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                        <b class="remark_person" *ngIf="good?.carrierDeliveryRemark.comments !== '' || null">{{ecmr?.carrierDeliverySignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                        <p class="comment_styling">{{good?.carrierDeliveryRemark.comments}}</p>
                  </li>
                </ol>
              </div>
            </ng-template>
            <div *ngIf="selectColumn() === 0">
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person"
                     *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p></li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 1">
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 2">
              <div class="firstItem"></div>
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierDeliveryRemark.comments !== '' || null">{{ecmr?.carrierDeliverySignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierDeliveryRemark.comments}}</p>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 3 && getUserRole() !== User.RecipientMember && ecmr.status === EcmrStatus.DELIVERED">
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierDeliveryRemark.comments !== '' || null">{{ecmr?.carrierDeliverySignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierDeliveryRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.recipientRemark.comments !== '' || null">{{ecmr?.recipientSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.recipientRemark.comments}}</p>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 3 && ecmr.status === EcmrStatus.CONFIRMED_DELIVERED">
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierDeliveryRemark.comments !== '' || null">{{ecmr?.carrierDeliverySignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierDeliveryRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.recipientRemark.comments !== '' || null">{{ecmr?.recipientSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.recipientRemark.comments}}</p>
                </li>
              </ol>
            </div>
            <div *ngIf="selectedColumns[3] === true && ecmr.status === EcmrStatus.CONFIRMED_DELIVERED && selectColumn() !== 3">
              <ol>
                  <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.compoundRemark.comments !== '' || null">{{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.compoundRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierLoadingRemark.comments !== '' || null">{{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierLoadingRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.carrierDeliveryRemark.comments !== '' || null">{{ecmr?.carrierDeliverySignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.carrierDeliveryRemark.comments}}</p>
                </li>
                  <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                      <b class="remark_person" *ngIf="good?.recipientRemark.comments !== '' || null">{{ecmr?.recipientSignature?.certificate?.split('#')[1].split('@')[0]}}:</b>
                      <p class="comment_styling">{{good?.recipientRemark.comments}}</p>
                </li>
              </ol>
            </div>
          </div>
        </td>
        <td>
          <div class="ui checkbox">
            <div *ngIf="getUserRole() === User.CompoundAdmin && ecmr?.status === EcmrStatus.CREATED; else showLegalRemark">
              <input type="checkbox" name="remark-isDamaged-{{getUserRole()}}-{{i}}"
                     [(ngModel)]="good?.compoundRemark.isDamaged">
              <label></label>
            </div>
            <div
                    *ngIf="getUserRole() === User.CarrierMember && ecmr?.status === EcmrStatus.LOADED; else showCompoundCheck">
              <input type="checkbox" name="remark-isDamaged-{{getUserRole()}}-{{i}}"
                     [(ngModel)]="good?.carrierLoadingRemark.isDamaged">
              <label></label>
            </div>
            <ng-template #showCompoundCheck>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.LegalOwnerAdmin && selectedColumns[1] === true && selectColumn() !== 1 && good?.compoundRemark.isDamaged === true">
                  <img class="check_icon"/></div>
            </ng-template>
            <div
                    *ngIf="getUserRole() === User.CarrierMember && ecmr?.status === EcmrStatus.IN_TRANSIT; else showCarrierLoadingCheck">
              <input type="checkbox" name="remark-isDamaged-{{getUserRole()}}-{{i}}"
                     [(ngModel)]="good?.carrierDeliveryRemark.isDamaged">
              <label></label>
            </div>
            <ng-template #showCarrierLoadingCheck>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.LegalOwnerAdmin && selectedColumns[2] === true && selectColumn() !== 2 && good?.carrierLoadingRemark.isDamaged === true">
                  <img class="check_icon"/></div>
            </ng-template>
            <div
                    *ngIf="getUserRole() === User.RecipientMember && ecmr?.status === EcmrStatus.DELIVERED && selectedColumns[3] === true; else showCarrierDeliveryCheck">
              <input type="checkbox" name="remark-isDamaged-{{getUserRole()}}-{{i}}"
                     [(ngModel)]="good?.recipientRemark.isDamaged">
              <label></label>
            </div>
            <ng-template #showCarrierDeliveryCheck>
              <div
                      *ngIf="getUserRole() !== User.CarrierMember && getUserRole() !== User.LegalOwnerAdmin && getUserRole() !== User.RecipientMember && selectColumn() !== 3 && selectedColumns[3] === true && good?.carrierDeliveryRemark.isDamaged === true">
                  <img class="check_icon"/></div>
            </ng-template>
            <div *ngIf="selectColumn() === 0">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 1">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <div *ngIf="good?.carrierLoadingRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 2">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <div *ngIf="good?.carrierLoadingRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                        <div *ngIf="good?.carrierDeliveryRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 3 && getUserRole() !== User.RecipientMember && ecmr.status === EcmrStatus.DELIVERED">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <div *ngIf="good?.carrierLoadingRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                        <div *ngIf="good?.carrierDeliveryRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                        <div *ngIf="good?.recipientRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
            <div *ngIf="selectColumn() === 3 && ecmr.status === EcmrStatus.CONFIRMED_DELIVERED">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <div *ngIf="good?.carrierLoadingRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                        <div *ngIf="good?.carrierDeliveryRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                        <div *ngIf="good?.recipientRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
            <div
                    *ngIf="selectedColumns[3] === true && ecmr.status === EcmrStatus.CONFIRMED_DELIVERED && good?.recipientRemark.isDamaged === true && selectColumn() !== 3">
                <ol class="list_alignment">
                    <li class="remark_list_styling" *ngIf="good?.compoundRemark.comments !== ''">
                        <div *ngIf="good?.compoundRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierLoadingRemark.comments !== ''">
                        <div *ngIf="good?.carrierLoadingRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.carrierDeliveryRemark.comments !== ''">
                        <div *ngIf="good?.carrierDeliveryRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
                    <li class="remark_list_styling" *ngIf="good?.recipientRemark.comments !== ''">
                        <div *ngIf="good?.recipientRemark.isDamaged === true"><img class="check_icon"/></div>
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="enableButton()" type="submit" class="ui right floated circular button sign-off"
            (click)="openModal()">
      SIGN OFF
    </button>
    <button *ngIf="!enableButton()" type="submit" class="ui right floated circular button sign-off disabled-button">
      SIGN OFF
    </button>
    <app-sign-off-modal></app-sign-off-modal>
  </form>
</div>
