<br>
<div class="ui container">
  <div class="row">
    <div class="sixteen wide column">
      <table class="ui celled padded table">
        <thead>
        <tr>
          <th class="single line">VIN</th>
          <th>Manufacturer</th>
          <th>Description</th>
          <th>Weight</th>
          <th>ODO Meter</th>
          <th>License Plate</th>
          <th>Remarks</th>
          <th>Damage</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="single line">2HDJDHF383HFJDJ</td>
          <td class="single line">Renault</td>
          <td class="single line">Twingo 1.2 16v</td>
          <td class="single line">867KG</td>
          <td class="single line">10 KM</td>
          <td class="single line">ZF-106-HG</td>
          <td class="single line">
            <div class="ui input">
              <input placeholder="Add remark" type="text">
            </div>
          </td>
          <td class="single line">
            <div class="ui checkbox">
              <input name="example" type="checkbox">
              <label></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="single line">2HDJDHF383HFJDJ</td>
          <td class="single line">Renault</td>
          <td class="single line">Twingo 1.2 16v</td>
          <td class="single line">867KG</td>
          <td class="single line">10 KM</td>
          <td class="single line">ZF-106-HG</td>
          <td class="single line">
            <div class="ui input">
              <input placeholder="Add remark" type="text">
            </div>
          </td>
          <td class="single line">
            <div class="ui checkbox">
              <input name="example" type="checkbox">
              <label></label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



