<div class="row titles">
  <div class="column">CMR {{ecmr?.ecmrID}}</div>
</div>
<div class="row top_line_styling">
  <p *ngIf="ecmr?.status === EcmrStatus.InTransit && ecmr?.delivery?.expectedWindow">
    Estimated delivery of goods between <strong><i>{{ecmr?.delivery?.expectedWindow?.startDate | date:'dd-MM-yyyy hh:mm'}} </i></strong> and <strong><i>{{ecmr?.delivery?.expectedWindow?.endDate | date:'dd-MM-yyyy hh:mm'}} </i></strong>
  </p>
  <p *ngIf="ecmr?.status === EcmrStatus.InTransit && !ecmr?.delivery?.expectedWindow">
    No estimated delivery window available yet.
  </p>
</div>
<img class="progress_bar" *ngIf="ecmr?.status === EcmrStatus.Created"
     src="../../../../../../assets/img/progress-indicator-01.svg"/>
<img class="progress_bar" *ngIf="ecmr?.status === EcmrStatus.Loaded"
     src="../../../../../../assets/img/progress-indicator-02.svg"/>
<img class="progress_bar" *ngIf="ecmr?.status === EcmrStatus.InTransit"
     src="../../../../../../assets/img/progress-indicator-03.svg"/>
<img class="progress_bar"
     *ngIf="ecmr?.status === EcmrStatus.Delivered || ecmr?.status === EcmrStatus.ConfirmedDelivered"
     src="../../../../../../assets/img/progress-indicator-04.svg"
     [ngClass]="{'selectedImg1' : selectedImage[0] || getUserRole() === User.LegalOwnerAdmin, 'selectedImg2' : selectedImage[1], 'selectedImg3' : selectedImage[2], 'selectedImg4' : selectedImage[3]}"/>
<div class="row titles">GENERAL INFORMATION</div>
<div class="ui four column padded doubling unstackable grid general_info">
  <div class="column" [ngClass]="{'completed': ecmr?.status === EcmrStatus.Delivered || ecmr?.status === EcmrStatus.ConfirmedDelivered, 'active': selectedColumns[0],
  'inactive': !selectedColumns[0]}" (click)="selectColumn(0)">
    <div class="header">SENDER</div>
    <div class="center ecmr_info">
      <div class="image_text">
        <img class="address_image"/>
        <div class="address_info">
          <span>{{ecmr?.owner?.split('#')[1]}}</span>
          <span>{{ecmr?.loading?.address.street}} {{ecmr?.loading?.address.houseNumber}}</span>
          <span>{{ecmr?.loading?.address.zipCode}}, {{ecmr?.loading?.address.city}}</span>
        </div>
      </div>
      <span><b>Signed by:</b> {{ecmr?.owner?.split('#')[1]}}</span>
      <span><b>Date:</b> {{ecmr?.creation?.date | date:'dd-MM-yyyy'}} ({{ecmr?.creation?.date | date:'hh:mm'}})</span>
    </div>
    <div class="comment_info">
      <div class="image_text">
        <img class="comment_overview comment_icon"/>
        <span></span>
      </div>
    </div>
  </div>
  <div class="column" [ngClass]="{'completed': ecmr?.status === EcmrStatus.Delivered || ecmr?.status === EcmrStatus.ConfirmedDelivered, 'active': selectedColumns[1],
  'inactive': !selectedColumns[1]}" (click)="selectColumn(1)">
    <div class="content">
      <div class="header">SOURCE</div>
      <div class="ecmr_info">
        <div class="image_text">
          <img class="address_image"/>
          <div class="address_info">
            <span>{{ecmr?.source?.split('#')[1]}}</span>
            <span>{{ecmr?.creation?.address?.street}} {{ecmr?.creation?.address?.houseNumber}}</span>
            <span>{{ecmr?.creation?.address?.zipCode}}, {{ecmr?.creation?.address?.city}}</span>
          </div>
        </div>
        <span><b>Signed by:</b> {{ecmr?.compoundSignature?.certificate?.split('#')[1].split('@')[0]}}</span>
        <span><b>Date:</b>{{ecmr?.compoundSignature?.timestamp | date:'dd-MM-yyyy'}} ({{ecmr?.compoundSignature?.timestamp | date:'hh:mm'}})</span>
      </div>
    </div>
    <div class="comment_info">
      <div class="image_text">
        <img class="comment_overview comment_icon"/>
        <span>{{ ecmr?.compoundSignature?.generalRemark?.comments }}</span>
      </div>
    </div>
  </div>
  <div class="column" [ngClass]="{'completed': ecmr?.status === EcmrStatus.Delivered || ecmr?.status === EcmrStatus.ConfirmedDelivered, 'active': selectedColumns[2],
  'inactive': !selectedColumns[2]}" (click)="selectColumn(2)">
    <div>
      <div class="header">CARRIER</div>
      <div class="ecmr_info">
        <div class="image_text">
          <img class="address_image"/>
          <div class="address_info">
            <span>{{ecmr?.carrier?.split('#')[1]}} - {{ecmr?.transporter?.split('#')[1].split('@')[0]}}</span>
            <span>{{ecmr?.creation?.address?.street}} {{ecmr?.creation?.address?.houseNumber}}</span>
            <span>{{ecmr?.creation?.address?.zipCode}}, {{ecmr?.creation?.address?.city}}</span>
          </div>
        </div>
        <span><b>Signed by:</b> {{ecmr?.carrierLoadingSignature?.certificate?.split('#')[1].split('@')[0]}}</span>
        <span><b>Date:</b> {{ecmr?.carrierLoadingSignature?.timestamp | date:'dd-MM-yyyy'}} ({{ecmr?.carrierLoadingSignature?.timestamp | date:'hh:mm'}})</span>
      </div>
    </div>
    <div class="comment_info">
      <div class="image_text">
        <img class="comment_overview comment_icon"/>
        <span>{{ ecmr?.carrierLoadingSignature?.generalRemark?.comments }}</span>
        <span>{{ ecmr?.carrierDeliverySignature?.generalRemark?.comments }}</span>
      </div>
    </div>
  </div>
  <div class="column" [ngClass]="{'completed': ecmr?.status === EcmrStatus.Delivered || ecmr?.status === EcmrStatus.ConfirmedDelivered, 'active': selectedColumns[3],
  'inactive': !selectedColumns[3]}" (click)="selectColumn(3)">
    <div>
      <div class="header">RECEIVER</div>
      <div class="ecmr_info">
        <div class="image_text">
          <img class="address_image"/>
          <div class="address_info">
            <span>{{ecmr?.recipient?.split('#')[1]}}</span>
            <span>{{ecmr?.delivery?.address.street}} {{ecmr?.delivery?.address.houseNumber}}</span>
            <span>{{ecmr?.delivery?.address.zipCode}}, {{ecmr?.delivery?.address.city}}</span>
          </div>
        </div>
        <span><b>Signed by:</b>{{ecmr?.recipientSignature?.certificate?.split('#')[1].split('@')[0]}}</span>
        <span><b>Date:</b>{{ecmr?.recipientSignature?.timestamp | date:'dd-MM-yyyy'}} ({{ecmr?.recipientSignature?.timestamp | date:'hh:mm'}})</span>
      </div>
    </div>
    <div class="comment_info">
      <div class="image_text">
        <img class="comment_overview comment_icon"/>
        <span>{{ ecmr?.recipientSignature?.generalRemark?.comments }}</span>
      </div>
    </div>
  </div>
</div>
<app-goods [ecmr]="ecmr" [selectedColumnIs]="selectedColumnIs" [selectedColumns]="selectedColumns"></app-goods>
