.ui.table {
  font-size:  1em;
  box-shadow: 0 2px 4px #e3e3e3;
  border:     0;
  th {
    background-color: #FFFFFF;
  }
  .spacing_table {
    border-spacing: 0 1em;
  }
}

.ui.steps:first-child {
  border: 0;
}

.general_info {
  box-shadow:                 0 2px 4px #e3e3e3;
  background-color:           white;
  border-top-left-radius:     0.5em;
  border-top-right-radius:    0.5em;
  border-bottom-left-radius:  0.5em;
  border-bottom-right-radius: 0.5em;
  font-size:                  0.9em;
  .column {
    width:        308px;
    height:       300px;
    padding-left: 40px;
    &:nth-child(n+2) {
      border-left: 1px solid #d8dde6;
    }
    &.active {
      cursor:        pointer;
      border:        1px solid #2987cd;
      border-radius: 6px;
      .header {
        color:         #2272c2;
        white-space:   nowrap;
        margin-bottom: 8.5%;
      }
      .comment_overview {
        margin-top: 5%;
      }
      .comment_icon {
        content: url("../../../../../../assets/icons/comment_icon.svg");
      }
      .comment_info {
        text-transform: capitalize;
        .image_text > img {
          float: left;
        }
        .image_text {
          overflow: hidden;
        }
        span {
          display:      block;
          margin-top:   5%;
          padding-left: 15%;
        }
      }
    }
    &.inactive {
      color: #a8b7c7;
      .header {
        white-space:   nowrap;
        margin-bottom: 8.5%;
      }
      .address_image {
        content: url("../../../../../../assets/icons/inactive_location_icon.svg");
      }
      .comment_overview {
        margin-top: 5%;
        content:    url("../../../../../../assets/icons/inactive_comment_icon.svg");
      }
    }
    &.completed:hover {
      cursor:        pointer;
      border:        1px solid #2987cd;
      border-radius: 6px;
    }
    .comment_info {
      text-transform: capitalize;
      .image_text > img {
        float: left;
      }
      .image_text {
        overflow: hidden;
      }
      span {
        display:      block;
        margin-top:   5%;
        padding-left: 15%;
      }
    }
  }
  .ecmr_info {
    text-transform: capitalize;
    .image_text > img {
      float: left;
    }
    .image_text, #addressInfo {
      overflow: hidden;
    }
    .address_image {
      padding-bottom: 35px;
      width:          auto;
      height:         auto;
      content:        url("../../../../../../assets/icons/address_page_icon.svg");
    }
    .address_info {
      margin-bottom: 10%;
    }
    span {
      display: block;
    }
  }
}

.titles {
  color:         #424244;
  margin-left:   3%;
  margin-top:    3%;
  margin-bottom: 0.5%;
  font-size:     18px;
}

.progress_bar {
  width:      100%;
  margin-top: 3%;
}

.top_line_styling {
  border-top:       1px solid #d8dde6;
  background-color: #F3F4FA;
  text-align:       center;
  p {
    color:     #8B95D3;
    font-size: 110%;
  }
}

.selectedImg1 {
  content: url("../../../../../../assets/img/progress_completed_01.svg")
}

.selectedImg2 {
  content: url("../../../../../../assets/img/progress_completed_02.svg")
}

.selectedImg3 {
  content: url("../../../../../../assets/img/progress_completed_03.svg")
}

.selectedImg4 {
  content: url("../../../../../../assets/img/progress_completed_04.svg")
}
