<div class="row titles">
  <div class="column">Order {{transportOrder?.orderID}}</div>
</div>
<div class="row">
  <form>
    <table class="ui padded unstackable structured table accordion">
      <thead>
      <tr>
        <th>VIN</th>
        <th>License Plate</th>
        <th>Description</th>
        <th>Weight</th>
        <th>ODO Meter</th>
        <th>PICK UP</th>
        <th>DELIVERY</th>
        <th>INFO</th>
      </tr>
      </thead>

      <ng-container *ngFor="let good of transportOrder?.goods">
        <tbody class="ui title">
        <tr>
          <td>{{good?.vehicle?.vin}}</td>
          <td>{{good?.vehicle?.plateNumber}}</td>
          <td>{{good?.description}}</td>
          <td>{{good?.weight}} kg</td>
          <td>{{good?.vehicle?.odoMeterReading}}</td>
          <td>
            <div *ngFor="let ecmr of ecmrs">
              <div *ngFor="let ecmrGood of ecmr?.goods">
                <div *ngIf="good?.vehicle?.vin == ecmrGood?.vehicle?.vin">
                  <span *ngIf="ecmr?.carrierLoadingSignature !== undefined; else showAwaiting"> Picked up </span>
                  <ng-template #showAwaiting><span> Awaiting</span></ng-template>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ng-container *ngFor="let ecmr of ecmrs">
              <ng-container *ngFor="let ecmrGood of ecmr?.goods">
                <ng-container *ngIf="good?.vehicle?.vin == ecmrGood?.vehicle?.vin">
                  <span *ngIf="ecmr?.carrierDeliverySignature !== undefined; else showAwaiting"> Delivered</span>
                  <ng-template #showAwaiting><span>Awaiting</span></ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </td>
          <td>
            <img class="view_more_order"/>
          </td>
        </tr>
        </tbody>
        <tbody class="ui content">
        <tr>
          <td><img class="order_state_pic" src="../../../../../../assets/img/icon_pickup_on.svg"/></td>
          <td class="loading_window_names">
            <span><strong>Pickup Location: </strong> </span>
            <span><strong>Pickup Window: </strong> </span>
            <span><strong>Pickup Signed: </strong> </span>
          </td>
          <td class="loading_window">
            <span> {{good?.loadingAddress?.city}}</span>
            <span> {{good?.pickupWindow.startDate | date: "dd-MM-yyyy (HH:mm)"}} to</span>
            <span> {{good?.pickupWindow.endDate | date: "dd-MM-yyyy (HH:mm)"}}</span>
            <ng-container *ngFor="let ecmr of ecmrs">
              <ng-container *ngFor="let ecmrGood of ecmr?.goods">
                <ng-container *ngIf="good?.vehicle?.vin == ecmrGood?.vehicle?.vin">
                  <span [ngClass]="{'signature_in_time': signatureInTime(good.deliveryWindow, ecmr?.carrierDeliverySignature),
                  'signature_in_delay': !signatureInTime(good.deliveryWindow, ecmr?.carrierDeliverySignature)}"
                        *ngIf="ecmr?.carrierLoadingSignature !== undefined; else showNa"> {{ecmr?.carrierLoadingSignature?.timestamp | date: "dd-MM-yyyy (HH:mm)"}} </span>
                  <ng-template #showNa><span><strong>Not signed off yet</strong></span></ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </td>
          <td colspan="2"></td>
          <td><img class="order_state_pic" src="../../../../../../assets/img/icon_receiver_off.svg"/></td>
          <td class="loading_window_names">
            <span><strong>Delivery Location: </strong> </span>
            <span><strong>Delivery Window: </strong> </span>
            <span><strong>Delivery Signed: </strong> </span>
          </td>
          <td class="loading_window">
            <span>{{good?.deliveryAddress?.city}}</span>
            <span>{{good?.deliveryWindow.startDate | date: "dd-MM-yyyy (HH:mm)"}} to</span>
            <span> {{good?.deliveryWindow.endDate | date: "dd-MM-yyyy (HH:mm)"}}</span>
            <div *ngFor="let ecmr of ecmrs">
              <div *ngFor="let ecmrGood of ecmr?.goods">
                <div *ngIf="good?.vehicle?.vin == ecmrGood?.vehicle?.vin">
                  <span [ngClass]="{'signature_in_time': signatureInTime(good.deliveryWindow, ecmr?.carrierDeliverySignature),
                  'signature_in_delay': !signatureInTime(good.deliveryWindow, ecmr?.carrierDeliverySignature)}"
                        *ngIf="ecmr?.carrierDeliverySignature !== undefined; else showNa"> {{ecmr?.carrierDeliverySignature?.timestamp | date: "dd-MM-yyyy (HH:mm)"}} </span>
                  <ng-template #showNa><span><strong>Not signed off yet</strong></span></ng-template>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="8" class="right aligned">Go to ECMR <img class="go_to_ecmr"
                                                                [routerLink]="selectECMR(good?.vehicle?.vin)"></td>
        </tr>
        </tbody>
      </ng-container>
    </table>
  </form>
</div>

