<div class="ui container">
  <div class="ui fixed menu designMenu">
    <img class="logo"/>
    <div *ngIf="getUser() != null" class="right menu">
      <div class="item">
        <form name="searchBox" class="searchBox">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" name="query" [(ngModel)]="queryData" type="text"
                     placeholder="Search for ID, VIN or License Plate" onfocus="this.placeholder = ''"
                     onblur="this.placeholder = 'Search for ID, VIN or License Plate'"
                     (ngModelChange)="sendData(queryData)"
                     (keyup)="0">
              <i class="search icon"></i>
            </div>
            <div class="results">
            </div>
          </div>
        </form>
      </div>
      <div class="item">
        <div *ngIf="getUser() != null" class="userDisplay"><span id="welcomeMsg" class="welcomeMsg">Welcome, <p><b>{{getUser()}}</b></p></span>
        </div>
      </div>
      <div class="item">
        <img *ngIf="getUser() === 'willem'" src="../../../../assets/icons/placeholder-willem.svg"/>
        <img *ngIf="getUser() === 'harry'" src="../../../../assets/icons/placeholder-harry.svg"/>
        <img *ngIf="getUser() === 'rob'" src="../../../../assets/icons/icon-rob.svg"/>
        <img *ngIf="getUser() === 'lapo'" src="../../../../assets/icons/icon-rob.svg"/>
      </div>
      <div class="item">
        <div (click)="logout()" routerLink="/login" class="logoutIcon">
          <img class="logoutIcon"/>
        </div>
      </div>
    </div>
  </div>
</div>
